<span class="formBlock">
  <label for="min">Min</label>
  <%= text_field :constraint, :min %>
</span>
<span class="formBlock">
  <label for="max">Max</label>
  <%= text_field :constraint, :max %>
</span>
