<label for="primitives">Primitives</label>
<%= primitive_checkbox_array.to_s %>
<label for="global_structs">Global Structs</label>
<%= global_structs_checkbox_array.to_s %>
<label for="local_structs">Local Structs</label>
<%= local_structs_checkbox_array.to_s %>

