<% @resource.children.collect { |primitive| %>
  <span class="dottedLine"></span>
  <%= render :partial => "/shapes/resources/#{ primitive.underscored_name }/struct_form",
    :locals => { :resource => primitive } %>
<% } %>
<%= javascript_tag('Shapes.prepareFormForAjaxUpload();') %>
