<ul>
<li><%= link_to 'Edit Duck Structs', duck_structs_path %></li>
</ul>

<ul>
<li><%= link_to 'List Ducks', ducks_path %></li>
<li><%= link_to 'New Duck', new_duck_path %></li>
</ul>
<%= new_resource_link @duck %>
<br /><br />
