<div id="shapesNavigation">
  <ul>
    <%= shapes_navigation_item 'Shapes', shapes_path, 'Add shape', new_shape_path, !structs_active? %>
    <%= shapes_navigation_item 'Structs', shape_structs_path, 'Add struct', new_shape_struct_path, structs_active? %>
  </ul>
</div>
