<li class="dottedLiLine">
  <span class="liContent liContentWithHover">
    <%= show_resource_name struct_primitive.primitive %>
    <%= show_resource_ident struct_primitive.ident %>
    <span class="icons">
      <%= link_to_delete_shape_struct_primitive struct_primitive %>
    </span>
</li>
