<%= hidden_field_tag 'type', params[:type] %>
<%= render :partial => "shapes/constraints/forms/#{params[:type].demodulize.underscore}" %>
<span class="formBlock clearBoth">
  <label for="submit">&nbsp;</label>
  <input type="image" value="Save changes" name="commit" class="submitForm" id="submit" src="/shapes/images/icons/confirm_li_hover.png" />      
</span>
