<%= navigation %>
<% form_tag new_struct_constraint_path(@struct_primitive) do -%>
<%= select_tag :type,  options_for_select(@resource.select_constraint_type)  %>
 <div><%= submit_tag 'Select' %></div>
<% end -%>
