<%= render :partial => '/duck_describe/ducks/navigation.html.erb' %>
<% form_tag new_resource_path(@duck, params[:parent_path]) do -%>
<%= resource_type_select @resource_type_collection  %>
 <div><%= submit_tag 'Select' %></div>
<% end -%>