<li class="dottedLiLine">
  <span class="liContent liContentWithHover">
    <span class="text">
    <%= h shape.name %>
    </span>
    <span class="icons">
    <%= link_to_show_shape shape %>
    <%= link_to_edit_shape shape %>
    <%= link_to_delete_shape shape %>
    </span>
  </span>
</li>
