<div id="subnavigation">
  <h1>New shape</h1>
</div>
<div class="shadowLine"></div>
<span class="formContainer newForm">
  <span class="form">
    <% shape_form @shape, :new do |form| %>
    <%= render :partial => 'form', :object => form %>
    <% end %>
  </span>
</span>
