<span class="formBlock">
  <label>Attribute</label>
  <span><%= resource.ident %></span>
</span>
<span class="formBlock">
  <label>Value</label>
  <%= hidden_field "resource[struct][#{resource.ident}][ident]", resource.ident %>
  <%= check_box_tag "resource[struct][#{resource.ident}][value]", '1', resource.value %>
</span>
