<span class="formBlock">
  <label>File</label>
  <%= file_field :resource, :value %>
</span>
<span class="formBlock">
  <label>Delete file</label>
  <%= check_box_tag 'resource[remove_file]' %>
</span>
<%= javascript_tag('Shapes.prepareFormForAjaxUpload();') %>
