<span class="formBlock">
  <label>Attribute</label>
  <span><%= resource.ident %></span>
</span>
<span class="formBlock">
  <label>File</label>
  <%= hidden_field "resource[struct][#{resource.ident}][ident]", resource.ident %>
  <%= file_field_tag "resource[struct][#{resource.ident}][value]" %>
</span>
<span class="formBlock">
  <label>Delete file</label>
  <%= check_box_tag "resource[struct][#{resource.ident}][remove_file]" %>
</span>
