<span class="formBlock">
  <label>Value (<%= resource.ident %>)</label>
  <%= hidden_field "resource[struct][#{resource.ident}][ident]", resource.ident %>
  <%= text_field_tag "resource[struct][#{resource.ident}][value]", resource.value, { :class => 'textField' } %>
</span>
