<ul>
<li><%= link_to 'Edit Ducks', ducks_path %></li>
</ul>
<ul>
<li><%= link_to 'List Duck Structs', duck_structs_path %></li>
<li><%= link_to 'New Duck Struct', new_duck_struct_path %></li>
</ul>
<% if !@duck_struct.nil? && !@duck_struct.new_record? %>
<ul>
<li><%= link_to 'Add new Primitive', new_duck_struct_duck_struct_primitive_path(@duck_struct) %></li>
</ul>
<% end %>

<br /><br />
