<div style="width:20%;float:left;">
<%= render :partial => '/duck_describe/duck_structs/navigation.html.erb' %>
<%= render :partial => "/duck_describe/duck_structs/duck_struct.html.erb", :collection => @duck_structs %>
</div>